@model HomeViewModel

@{
    var version = typeof(IdentityServer4.Hosting.IdentityServerMiddleware).Assembly.GetName().Version.ToString();
}

<div class="welcome-page">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>
                <img class="icon" src="~/icon.jpg">
                Welcome to the IdentityServer4 demo site
                <small>(version @version)</small>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <p>
                IdentityServer publishes a
                <a href="~/.well-known/openid-configuration">discovery document</a>
                where you can find metadata and links to all the endpoints, key material, etc.
            </p>
        </div>
        <div class="col-sm-8">
            <p>
                Click <a href="~/grants">here</a> to manage your stored grants.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            @foreach (var client in Model.Clients)
            {
                <p>
                    <b>client id: @client.ClientId</b> <br />
                    grant type: @string.Join(", ", @client.AllowedGrantTypes) <br />
                    allowed scopes: @string.Join(", ", @client.AllowedScopes) <br />
                    access token lifetime: @client.AccessTokenLifetime <br />
                    client claims: @string.Join(", ", @client.Claims.Select(c => $"{c.Key}={c.Value}")) <br />
                </p>
            }
        </div>
    </div>
</div>
